<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
</head>
<body>
  <h1>Checkout - <%= bundle.name %></h1>
  <form action="/pay" method="POST">
    <input type="hidden" name="bundleName" value="<%= bundle.name %>">
    <label>Your Name: <input type="text" name="name" required></label><br>
    <button type="submit">Pay Now</button>
  </form>
</body>
</html>
