<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
</head>
<body>
  <h1>Checkout - <%= bundle.name %></h1>
  <form action="/pay" method="post">
    <input type="hidden" name="bundleName" value="<%= bundle.name %>">
    <input type="text" name="name" placeholder="Your Name" required>
    <button type="submit">Pay KES <%= bundle.price %></button>
  </form>
</body>
</html>
